.movies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    margin: 20px auto;
    background-color: antiquewhite;
}